<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-right: 100px; padding-left:100px">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/img/logoXoaPhong-image.png" width="80" height="80"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          Trang chủ
        </li>
        <li class="nav-item">
          Quản lý nhân viên
        </li>
        <li class="nav-item">
          Quản lý cá thể
        </li>
        <li class="nav-item">
          Hệ thống
        </li>
        <li class="nav-item">
          Tin tức
        </li>
      </ul>
      <p class="name-employ my-2">Nguyễn Phú Lĩnh</p>
      <img src="assets/img/avatar.png" width="50px" height="50px">

    </div>
  </div>
</nav>

<div class="container">
  <div class="main-body">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 gutters-sm">
      <div class="col mb-3" *ngFor="let employee of employees; index as i">
        <div class="card card-custom bg-white border-white border-0"  style="height: 450px">
          <div class="card-custom-img" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRB-v__ojYeJHEUO9oFnYxqqa13O2ipbUBgdg&usqp=CAU);"></div>
          <div class="card-custom-avatar">
            <img class="img-fluid" src="{{employee.img_url}}" alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title">{{employee.name}}</h4>
            <p class="card-text" style="font-size: 17px">Mã nhân viên: NV00{{employee.id}}<br>Tên tài khoản: {{employee.user.username}}
              <br>Email: {{employee.email}}<br>Ngày sinh: {{employee.birthday | date: 'd/M/yyyy'}}
              <br>
            <span *ngIf="employee.gender ; else loggedOut">
              Giới tính: Nữ
            </span>

            <ng-template #loggedOut>
              Giới tính: Nam
            </ng-template>
              <br>Số CMND: {{employee.cmnd}}
            </p>
          </div>
          <div class="card-footer" style="background: inherit; border-color: inherit; text-align: center;font-weight:bolder" >
<!--            <a href="#" class="btn btn-outline-success" style="margin-right: 20px">Chỉnh sửa</a>-->
            <a  class="btn btn-outline-success" type="button" data-bs-toggle="modal" data-bs-target="#exampleCreateModal"
             style="margin-right:20px "   >Thêm mới</a>
            <a  class="btn btn-outline-danger" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                (click)="changeId(employee.id,employee.name)">Xóa</a>
          </div>
        </div>
      </div>




    </div>

    <div class="clearfix">
      <div style="font-size: 20px" class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
      <ul class="pagination" >
        <li class="page-item disabled"><a style="font-size: 20px" href="#">Previous</a></li>
        <li class="page-item"><a style="font-size: 20px" href="#" class="page-link">1</a></li>
        <li class="page-item"><a style="font-size: 20px" href="#" class="page-link">2</a></li>
        <li class="page-item active"><a style="font-size: 20px"  href="#" class="page-link">3</a></li>
        <li class="page-item"><a style="font-size: 20px" href="#" class="page-link">4</a></li>
        <li class="page-item"><a style="font-size: 20px" href="#" class="page-link">5</a></li>
        <li class="page-item"><a style="font-size: 20px" href="#" class="page-link">Next</a></li>
      </ul>
    </div>
  </div>

</div>

<!-- Modal Delete -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"  style="font-size: 20px">Xác nhận xóa</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="font-size: 17px">
        Bạn có chắc muốn xóa <br>
        Nhân viên: {{name}}<br>
        <small style="color: #e1932c">Hành động này không thể hoàn tác</small>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete(id)">Xác nhận</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Create -->
<div class="modal fade" id="exampleCreateModal" tabindex="-1" aria-labelledby="exampleCreateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleCreateModalLabel"  style="font-size: 20px">Xác nhận xóa</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="font-size: 17px">
          <form>
            <div class="form-group">
              <label>Tên</label>
              <input type="text" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Chứng minh nhân dân:</label>
              <input type="text" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Ngày sinh</label>
              <input type="date" placeholder="dd-mm-yyyy" class="form-control" >
            </div>
            <div class="form-group" style="margin-top: 10px ">
              <label  >Giới tính:</label>
              <input type="radio" value="0" name="gender" style="margin: 0px 10px "  >Nam
              <input type="radio" value="1" name="gender" style="margin: 0px 10px" >Nữ
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete(id)">Xác nhận</button>
      </div>
    </div>
  </div>
</div>
