<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
<a href="/create"  class="btn btn-primary">Create new Product</a>

<form>
    Search by first name:
    <input name="search" type="text"/>
    <input type="submit" value="Search"/>
</form>
<h1 class="text-bg-danger">Products</h1>
<table  class="table ">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Expiry Date</th>
        <th>Manufacturer</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="p : ${product}">
        <tr>
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.price}"></td>
            <td th:text="${p.expiryDate}"></td>
            <td th:text="${p.manufacturer}"></td>
            <td th:text="${p.category.categoryName}"></td>
            <td><a th:href="@{/edit/__${p.id}__ }"  class="btn btn-primary">Edit</a></td>
            <td> <a class="btn btn-danger btn-delete" data-bs-toggle="modal"
                    data-bs-target="#deleteModal" href="" type="button" th:data-id="${p.id}">Delete</a>
            </td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/list'(page=${product.number - 1})}" th:if="${product.hasPrevious()}">Previous</a>
    <span th:text="${product.number + 1}"></span>/<span th:text="${product.totalPages}"></span>
    <a th:href="@{'/list'(page=${product.number + 1})}" th:if="${product.hasNext()}">Next</a>
</div>
<!-- Delete Modal -->
<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content" id="form-confirm-delete">
            <div class="modal-header">
                <h5 class="modal-title">Delete Blog</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    Are you sure to delete?
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                <a type="button" class="btn btn-danger btn-confirm-delete" href="">Delete</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(".btn-delete").click(function () {
        let id = $(this).data("id");
        $('.btn-confirm-delete').attr("href", "/delete/" + id);
        console.log(id);
    })
</script>



</body>
</html>