<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <h4 style="margin: 30px 0px;" >FORM CREATE</h4>
            <th:block th:if="${message}" >
                <p style="color: green" th:text="${message}"></p>
            </th:block>

            <form th:action="@{/save}" th:object="${contractDto}" method="post">


                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label> House ID:</label>
                        <select th:field="*{house}" class="form-control">
                            <option th:each="p : ${house}" th:value="${p.id}"
                                    th:text="${p.id}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Input Name: </label>
                        <input type="text" class="form-control" th:field="*{name}">
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red">*</span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label >Input Identity Number: </label>
                        <input type="number" th:field="*{identityId}" class="form-control" >
                        <span  th:if="${#fields.hasErrors('identityId')}" th:errors="*{identityId}"  style="color: red">*</span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Input Date: </label>
                        <input type="date" class="form-control" th:field="*{date}">
                        <!--                        <span >*</span>-->
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label> Terms:</label>
                        <select th:field="*{term}" class="form-control">
                            <option value="3 Months">3 Months</option>
                            <option value="6 Months">6 Months</option>
                            <option value="12 Months">12 Months</option>
                        </select>
                    </div>
                </div>

                <button class="btn btn-success" role="button" type="submit" value="Submit">Create</button>
                <a href="/list"  class="btn btn-warning" role="button" style="text-decoration: none">Cancel</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>